.btn-mprimary {
  border: 1px solid var(--mprimary) !important;
  background: var(--mprimary) !important;
  color: var(--primary) !important;
  :focus {
    box-shadow: 0 0 0 0.25rem var(--primary) !important;
  }
}
.btn-primary {
  border: 1px solid var(--primary) !important;
  background: var(--primary) !important;
  color: white !important;
  :focus {
    box-shadow: 0 0 0 0.25rem var(--mprimary) !important;
  }
}
.btn-outline-primary {
  border: 1px solid var(--primary) !important;
  background: transparent !important;
  color: var(--primary) !important;

  :focus {
    box-shadow: 0 0 0 0.25rem var(--mprimary) !important;
  }
}
