.bg-body {
  background: var(--bg) !important;
}

.bg-layout {
  background: var(--bg-layout) !important;
}
.color {
  color: var(--color) !important;
}

.color-light {
  color: var(--color-light) !important;
}

.bg-mprimary {
  background: var(--mprimary) !important;
}

.bg-primary {
  background: var(--bg-primary) !important;
}
.clr-primary {
  color: var(--primary) !important;
}
.bg-success {
  background: var(--bg-success) !important;
}
.clr-success {
  color: var(--success) !important;
}
.bg-danger {
  background: var(--bg-danger) !important;
}
.clr-danger {
  color: var(--danger) !important;
}
.bg-orange {
  background: var(--bg-orange) !important;
}
.clr-orange {
  color: var(--orange) !important;
}
.clr-dgreen {
  color: var(--dgreen) !important;
}
.bg-lgreen {
  background: var(--bg-lgreen) !important;
}
.clr-lgreen {
  color: var(--lgreen) !important;
}
.bg-violet {
  background: var(--bg-violet) !important;
}
.clr-violet {
  color: var(--violet) !important;
}
